{% extends "layout.html" %}

{% block body %}

    <p>Upload PDF:</p>
    <form method="POST" enctype="multipart/form-data">
        <input autofocus required placeholder="Choose pdf" name="pdf" autocomplete="off" type="file">
        <button type="submit">Convert</button>
    </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // script for user-friendly error messages
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get("error");

            if (error === "upload_not_allowed") {
                console.log("the condition checks out")
                alert("Error: Invalid file type!\n\nPlease upload a PDF.")
            }

            if (error === "file_size_limit_exceeded") {
                console.log("the condition checks out")
                alert("Error: File Size Limit Exceeded!\n\nThe file you are trying to upload exceeds the maximum allowed size of 3 megabytes.\nPlease upload a smaller file.");
            }

            if (error === "not_found") {
                alert("Error: File/Site not found\n\nThey say not all who wander are lost but you, friend, most definitely are.");
            }

            if (error === "no_file") {
                alert("Error: Choose a file.")
            }
        });
    </script>
{% endblock %}
